# Ignorar ambientes virtuais
venv/

# Ignorar variáveis de ambiente
.env

# Ignorar credenciais sensíveis
credenciais_sheets.json
virtual-silo-*.json

# Arquivos Python gerados automaticamente
__pycache__/
*.pyc
*.pyo

# Arquivos de sistema e IDEs
.DS_Store
*.log

# Arquivos de backup ou auxiliares
*.bak
*.zip
*.bat
